﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>

<body>
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - FSX2 By ZapLin．<a href="https://gitlab.com/zaplib/fsx2" target="_blank">GitLab</a></p>
    </footer>
</body>
</html>
